{% extends "base.html" %}

{% block title %}Quiz - DEXQUIZ{% endblock %}

{% block content %}
<section>
    <h1>This is the Pokémon Guessing Game!</h1>
    <p>The way it works is simple: you guess the name of a random Pokémon.</p>
    <p>If you guess correctly, you win the game; if you guess incorrectly, some
        information about the Pokémon will be revealed.</p>
    <p>Depending on how quickly you guess, you'll earn points (points system to
        be implemented). Try to score as many points as you can!</p>
    <p>To join the leaderboard or view it, please log in.</p>
</section>

<!-- Form for user input -->
<form method="POST">
    <input type="text" name="guess" required>
    <button type="submit">Submit</button>
</form>

<p id="quiz-message"></p>

<p id="score-display" style="display: none;">
    Your current Score: <span id="score-value">0</span>
</p>
<button id="submit-score-button" style="display: none;">Submit score</button>

<div class="pokedex-container">
    <img src="images/pokedex_bg.png" class="pokedex-background" alt="Hints-Overlay">

    <!-- Type and Basic Info -->
    <div class="overlay type1">{{ pokemon.types[0] }}</div>
    {% if pokemon.types|length > 1 %}
    <div class="overlay type2">{{ pokemon.types[1] }}</div>
    {% endif %}
    <div class="overlay height">{{ pokemon.height }}</div>
    <div class="overlay weight">{{ pokemon.weight }}</div>
    <div class="overlay dex-entry">{{ pokemon.dex_entry }}</div>
    <img src="images/skills_bg.png" class="pokedex-background" alt="Pokedex Stats">
    <div class="overlay stat-hp">{{ pokemon.stats["Hp"] }}</div>
    <div class="overlay stat-attack">{{ pokemon.stats["Attack"] }}</div>
    <div class="overlay stat-defense">{{ pokemon.stats["Defense"] }}</div>
    <div class="overlay stat-sp-atk">{{ pokemon.stats["Sp. atk"] }}</div>
    <div class="overlay stat-sp-def">{{ pokemon.stats["Sp. def"] }}</div>
    <div class="overlay stat-speed">{{ pokemon.stats["Speed"] }}</div>
    <div class="overlay ability">{{ pokemon.ability }}</div>
</div>

</div>

<script src="/static/quiz.js"></script>

{% if message %}
<p>{{ message }}</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}